<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>display_name</key>
		<string>りいてがき筆</string>
		<key>name</key>
		<string>RiiTegakiFude</string>
		<key>download_url</key>
		<string>http://www.kcc.zaq.ne.jp/in-mlg/freefont/riitf/riitf.zip</string>
		<key>unzipped_dir</key>
		<string>riitf</string>
		<key>unzipped_file</key>
		<string>RiiT_F.otf</string>
	</dict>
</array>
</plist>
